<table class="compat-flags-table">
  <tbody>
    <tr>
      <th>Deploy oficial</th>
      <td>{% if include.official_deploy %}Sim{% else %}Não{% endif %}</td>
    </tr>
    <tr>
      <th>Ainda suportada</th>
      <td>{% if include.still_supported %}Sim{% else %}Não{% endif %}</td>
    </tr>
    <tr>
      <th>Pode instalar</th>
      <td>{% if include.can_install %}Sim{% else %}Não{% endif %}</td>
    </tr>
    <tr>
      <th>Somente teste</th>
      <td>{% if include.test_only %}Sim{% else %}Não{% endif %}</td>
    </tr>
  </tbody>
</table>
